.font_1{
font-family: 'Lexend Mega', sans-serif;
}

.font_2{
font-family: 'Ballet', cursive;
}

.font_3{
font-family: 'Reggae One', cursive;
}

.container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.card{
  margin: auto; 
}

.btn{
  margin: auto; 
}
